<html>
    <head>
    </head>
    <body>
        <p>Hello Myplaneteers!</p>
        <p>Please reply to <b>this mail address ONLY. <font color = #FF0000 size = "3">DO NOT CLICK REPLY ALL!</font></p>
        <p><b><font color = #FF0000 size = "3">Click EDIT SUBJECT</font></b> and <b> write your response THERE!</b></p>
        <p>Important! Please <b><font color = #FF0000 size = "3">DELETE this email</font></b> after you reply.
        <br>
        <br>
        <p>Question: <b><font color = #007FFF>What wil you be doing today?</font></b></p>
        <br>
        <br>
        <p>Thank you, have a great day!</p>
    </body>
</html>