<html>

<head>
    <title>uManage | Myplanet Digital</title>
</head>

<body>
        <h1>uManage</h1>
	
        
        <h3><b>"{{content0}}"</b></h3>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            --<a href="{{under0}}"><b>{{user0}}</b></a> at {{time0}}</p><br>
        
        {% for x in showEntries %}
        <p>
            <b>"{{x.content}}"</b><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--<b><a href="{{x.underscorename}}">{{x.user.username}}</a></b> at {{x.time1}}</font></p>
        <br></p>
        {% endfor %}

</body>
</html>
